<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login Page</title>
    </style>
</head>
<body>
	<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
		<div class="sm:mx-auto sm:w-full sm:max-w-sm">
			<img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
			<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
		</div>
		<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="flex items-center p-4 mb-4 text-sm text-{{ category }}-800 rounded-lg bg-{{ category }}-50 dark:bg-{{ category }}-50 dark:text-{{ category }}-400" role="alert">
							<svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
							</svg>
							<span class="sr-only">Info</span>
							<div>
							<span class="font-medium">{{ message }}</span>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form method="post" action="">
				{{ form.hidden_tag() }}
				<div>
					{{ form.email.label(class="block text-sm font-medium leading-6 text-gray-900") }}
					{% if form.email.errors %}
						{{ form.email(class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-3 ring-1 ring-inset ring-red-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6") }}
						{% for error in form.email.errors %}
							<span class="text-red-600">{{ error }}</span>
						{% endfor %}
					{% else %}
						<div class="mt-2">
							{{ form.email(class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-3 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6") }}
						</div>
					{% endif %}
				</div>
				<div>
					{{ form.password.label(class="block text-sm font-medium leading-6 text-gray-900") }}
					{% if form.password.errors %}
						{{ form.password(class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-3 ring-1 ring-inset ring-red-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6") }}
						{% for error in form.password.errors %}
							<span class="text-red-600">{{ error }}</span>
						{% endfor %}
					{% else %}
						<div class="mt-2">
							{{ form.password(class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm px-3 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6") }}
						</div>
					{% endif %}
				</div>
				<div class="flex items-start mt-5">
					<div class="flex items-start">
						<div class="flex items-center h-5">
							{{ form.remember(class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800") }}
						</div>
						<label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
					</div>
					<a href="{{ url_for('register') }}" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
				</div>
				<div class="mt-5">
					{{ form.submit(class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") }}
				</div>
			</form>
			<p class="mt-10 text-center text-sm text-gray-500">
			Not a member?
			<a href="{{ url_for('register') }}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign Up</a>
			</p>

	    <!--
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
	    <button type="submit">Login</button>-->
		</div>
	</div>
</body>
</html>

